.previewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow: var(--shdw1);

  .details {
    opacity: 0.75;
    background-color: rgb(0, 0, 0, 0.75);
    backdrop-filter: blur(2px);
    transition: 0.5s ease all;
    color: var(--text) !important;
    flex: 1; 
    height: 300px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  &:hover {
  box-shadow: var(--shdw2);

    .details {
      opacity: 1;
      background-color: rgb(0, 0, 0, 0.75);
      backdrop-filter: blur(5px);
    }
  }
}
