@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

:root {
--text: #ffffff;
--background: #090c0a;
--primary: #b1c4b8;
--secondary: #495361;
--accent: #787999;


  --shdw1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shdw2: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --shdw3: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
  font-family: "Zalando Sans Expanded", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-size: 18px;
  overflow-x: hidden;
}

input,
textarea {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary);
  color: var(--text);
  resize: none;

  &:hover {
    border: 1px solid var(--primary);
  }

  &:active,
  &:focus {
    outline: none;
    border: 1px solid var(--text);
  }
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

button {
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

a,
button {
  color: inherit;
  text-decoration: none;
  transition: 0.35s ease all;

  &:hover {
    color: var(--accent);
  }
}

.container {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 5rem 1rem;
  }
}