@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
	font-family: inherit !important;
	transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1) all;
}

html {
	font-size: 18px;
}

body {
	background-color: white;
	color: black;
	padding: 0;
	margin: 0;
	max-height: 100vh;
	overflow: hidden;
}

.ckay9 {
	position: fixed;
	top: 0.5rem;
	left: 0.5rem;

	display: flex;
	flex-direction: column;
}

.secret_count {
	position: fixed;
	bottom: 15vh;
	right: 15vw;
	font-size: 3rem;
}

.pfp {
	position: fixed;
	top: 6rem;
	right: 10vw;

	width: 20vw;
	max-width: 10rem;
	height: 10rem;
	object-fit: cover;

	border-radius: 50%;
}

footer {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.links {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

#secret_style:hover,
#ckay9:hover,
#miku:hover,
#pfp:hover,
.name_char:hover,
.secret_count:hover {
	cursor: pointer;
	font-weight: 600;
	user-select: none;
}

#name {
	font-size: 2rem;
}

.miku {
	position: fixed;
	z-index: 9999;
	bottom: 0;
	left: 0;
	width: 80px;
	height: auto;
	opacity: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: 100vh;
	overflow-y: auto;
}

/* https://stackoverflow.com/a/54702294 */
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}