@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
}

body,
html {
	color: white;
	font-size: 18px;
	overflow-x: hidden;
	background-color: black;
	background: url("./background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: 0.35s ease border-bottom, 0.35s ease opacity;
	opacity: 0.5;
}

a:hover {
	opacity: 1;
	border-bottom: 1px solid white;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

input,
button {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: none;

	background-color: rgb(0, 0, 0, 0.5);
	color: white;
}

input:active,
input:focus {
	outline: none;
}

button:hover,
a:hover {
	cursor: pointer;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 275px;
	max-width: 275px;
}

.container {
	background-color: rgb(0, 0, 0, 0.65);
	backdrop-filter: blur(15px);
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 5rem;
	min-width: calc(100vw - 10rem);
	min-height: calc(100vh - 10rem);
}

.splash {
	display: grid;
	position: relative;
}

.projects_container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 1rem;
}

.project {
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 1;
	gap: 0.5rem;
}

.project h3 {
	font-size: 3rem;
	font-weight: 800;
	opacity: 1;
	color: white;
}

.project a:hover {
	border-bottom: transparent 1px solid;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}

.links {
	display: flex;
	gap: 1rem;
}

.links > a {
	padding: 0.5rem;
}

.pfp {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 5rem 1rem;
	}

	.information,
	.content {
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 1rem;
	}

	.links {
		width: 100%;
		gap: 0;
	}

	.links > a {
		padding: 1rem;
		flex: 1;
	}

	.projects_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
	}

	.description {
		text-align: center;
	}
}
