.footer {
    background-color: var(--secondary);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 64px);
}